.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: 1700px 880px;
  /* background-position: 690px 285px;
  background-size: 300px 300px;
   */
  min-height: 100vh;
  margin-top: 0px;
}

.app__heading{
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
}

.heading__container{
    background-color: #D59E34;
    font-size: 25px;
    margin-top: -5px;
    margin-bottom: 20px;
}